.badge {
	display: inline-block;
	padding: 1px 10px;
	margin: 2px 4px;
	color: #fff;
	border-radius: $badge-border-radius;
	font-size: 12px;
	-webkit-transition: all .04s;
	transition: all .04s;
	cursor: pointer;

	&:hover {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}
}

.badges {
	margin: 10px 0;
}

@each $name, $color in $badge-map {
	.badge-#{$name} {
		background-color: $color;
	}
}

@each $name, $color in $badges-map {
	.badges-#{$name} {
		.badge {
			background-color: $color;
		}
	}
}