@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import "variables";
@import "components/badges";
@import "components/buttons";
@import "components/card";
@import "components/titles";

body {
	margin: 0;
	font-family: Oswald, Helvetica, sans-serif;
	background-color: $bg-color;
	font-size: 16px;
}

.panel {
	height: auto;

	h2 {
		display: block;
		width: auto;
		margin: auto;
	}
}

.bloc {
	width: calc(98% - 20px);
	height: calc(100% - 10px);
	margin: 10px auto;
	padding: 0 10px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 10px rgba(66, 66, 66, .15);
	border-radius: $card-border-radius;
    transition: all 0.2s;

	// &:hover {
    //     box-shadow: 3px 3px 10px rgba(66, 66, 66, .3);
	// }

	p {
		display: block;
		padding: 5px;
		margin-bottom: 5px;
	}

	.bloc-header {
		h2 {
			padding: 0;
			margin: 0;
		}
	}
}