@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
	margin: 0;
	font-family: Oswald, Helvetica, sans-serif;
	background-color: #ecf0f1;
	font-size: 16px;
}
.panel {
	height: auto;

	h2 {
		display: block;
		width: auto;
		margin: auto;
	}
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 5em;
	color: #686de0;
	letter-spacing: 3px;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 1.8em;
}

.card {
	width: calc(40% - 20px);
	height: auto;
	padding: 5px 10px;
	background-color: #fff !important;
	border-radius: 4px;
	margin-bottom: 20px !important;

	.card-header {
		h1 {
			margin: 0;
			padding: 0;
			font-size: 5em;
			color: #686de0;
			letter-spacing: 3px;
		}
		h2 {
			margin: 0 0 10px 0;
			padding: 0;
		}
	}
	.card-body {
		padding: 0;
		// background-color: #fff !important;
		h3 {
			margin: 0;
			padding: 0;
			font-size: 1.8em;
		}
		p {
			margin: 0;
			letter-spacing: .8px;
		}
		.presentation {
			margin-top: 10px;
			font-style: italic;
			-webkit-transition: all .2s;
			transition: all .2s;
			color: #b8b8b8;

			&:hover {
				color: #6b6b6b;
			}
		}
	}
}
.card.shadow {
	box-shadow: 6px 6px 10px rgba(66, 66, 66, .1);

// 	&:hover {
// 		box-shadow: 6px 6px 10px rgba(66, 66, 66, .54);
// 	}
}
.card-project {
	width: 250px;
	height: auto;
	background-color: #fff;
	box-shadow: 6px 6px 10px rgba(66, 66, 66, .2);
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid silver;
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	.card-header {
		font-weight: 700;
		span.badge {
			padding: 2px 5px;
			border-radius: 6px;
			background-color: #f39c12;
			color: #fff;
			font-size: 10px;
			font-weight: 400;
			-webkit-transform: none;
			transform: none;
		}
	}
	.card-body {
		font-size: 12px;
	}
}
.btn {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	color: #fff;
	border: none;
	-webkit-transition: all .1s;
	transition: all .1s;
	border-radius: 2px;
}
.btn-primary {
	background-color: #c0392b;
	&:hover {
		background-color: #e74c3c;
	}
}
.badges {
	margin: 10px 0;
}
.badge {
	display: inline-block;
	padding: 3px 10px;
	margin: 2px 4px;
	color: #fff;
	border-radius: 2px;
	font-size: 12px;
	-webkit-transition: all .2s;
	transition: all .2s;
	&:hover {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
		font-weight: 700;
	}
}
.badge.snippet {
	background-color: #8e44ad !important;
}
.badge.html {
	background-color: #f39c12 !important;
}
.badge.javascript {
	background-color: #27ae60 !important;
}
.badge.typescript {
	background-color: #4a4fa3 !important;
}
.badge.css {
	background-color: #c0392b !important;
}
.badge.csharp {
	background-color: #686de0 !important;
}
.badges-lang {
	.badge {
		background-color: #f39c12;
	}
}
.badges-techno {
	.badge {
		background-color: #686de0;
	}
}
.badges-os {
	.badge {
		background-color: #4a4fa3;
	}
}
.bloc {
	width: calc(98% - 20px);
	height: calc(auto - 10px);
	margin: 10px auto;
	padding: 0 10px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 10px rgba(66, 66, 66, .15);
	border-radius: 4px;
    transition: all 0.2s;

	// &:hover {
    //     box-shadow: 3px 3px 10px rgba(66, 66, 66, .3);
	// }

	p {
		display: block;
		padding: 5px;
		margin-bottom: 5px;
	}

	.bloc-header {
		h2 {
			padding: 0;
			margin: 0;
		}
	}
}
